{% extends 'base.html' %}
{% block pagetitle %}
🍀 THE PREDICTION IS OVER 🍀
{% endblock pagetitle %}
{% block body %}


<div>
  <nav class="navbar navbar-expand-lg " style="height:40px;background-color:#3CB371;">
    <ul class="horizontal-menu" style="width:2300px; ">
      <i class="fa fa-envelope " href=""
        style="margin-top:19px;font-weight: bold; font-size: 16px; color:#fff;margin-left:-5%"> &nbsp;
        dissertationgradute@gmail.com
      </i>

      <i href="#" style="font-weight: bold; font-size: 15px; color:#fff;font-style:normal;margin-left:3%;">Free shipping</i>


      <i href="#https://twitter.com/" style="font-weight: bold; font-size: 16px; color:#fff;margin-left:35%"><i
          class="fa fa-twitter" aria-hidden="true"></i></i>
      <i href="#https://facebook.com/" style="font-weight: bold; font-size: 16px; color:#fff;margin-left:1%"><i
          class="fa fa-facebook" aria-hidden="true"></i></i>
      <i href="#https://pinerest.com/" style="font-weight: bold; font-size: 16px; color:#fff;margin-left:1%"><i
          class="fa fa-pinterest" aria-hidden="true"></i></i>
    </ul>
</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:90px;">
  <img src="../static/logo.png" alt="Tag" width="135px" height="36px" style="margin-left:140px">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="width:1200px">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost/Agriculture/index.php"
          style="margin-left:78px;font-weight: bold;font-size:17px; color: black;">Home page</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="http://localhost/Agriculture/all_product.php"
          style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">Product</a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href="http://localhost/Agriculture/map.php"
          style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">About us</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="http://localhost/Agriculture/contactUs.php"
          style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">Contact</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:5000/"
          style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">Diagnose</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-9 col-md-8 padding-top-2px" style="margin-top:10px">
  </div>
</nav>


<div>
  <div class="container">
    <!-- For demo purpose -->
    <br>
    <h1><span class="badge bg-transparent" style="color: rgb(40, 56, 47); font-size: 45px; font-weight: bold;"> ☘ THE
        PREDICTION
        IS OVER ☘
        <path fill-rule="evenodd"
          d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z" />
        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
        </svg>
      </span></h1>
    <br><br><br><br>

    <!-- <div class="row mb-5 text-center text-white"> -->
      <!-- <div class="col-lg-5 mx-auto"><br><br> -->
        <div class="container">
          <div class="row">
              <div class="col-lg-6 mx-auto">
        <h1 class="display-4" 
          style="font-weight: 400;color: rgb(59, 65, 59); font-size: 40px; text-align: left;">
          <b >{{title|safe}}</b>
        </h1>
      </div>
        <br>
        <style>
          .glowing-text {
            color: blueviolet;
            font-weight: bold;
            animation: glow 1.5s infinite;
          }



          @keyframes glow {

            0%,
            100% {
              text-shadow: 0 0 2px blueviolet;
            }

            50% {
              text-shadow: 0 0 4px blueviolet;
            }
          }

          @keyframes typing {
            from {
              opacity: 0;
              transform: translateY(20px);
            }

            to {
              opacity: 1;
              transform: translateY(0);
            }
          }

          .typing-animation {
            overflow: hidden;
            opacity: 0;
            animation: typing 1s steps(30, end) 1s forwards;

          }
        </style>
                  <div class="col-lg-5 mx-auto">
        <div class="p-3 bg-white shadow rounded-lg glowing-text " >

          <h2 class="typing-animation">Prediction Accuracy : {{ accuracy }}% ✔️</h2>
          <h2 class="typing-animation">Total Time : {{ duration }}s</h2>
        </div>

      </div>
    </div>

<br><br>
<div class="container">
  <div class="row">
      <div class="col-lg-4">
          <div class="p-3 bg-white shadow rounded-lg" style="width: 100%;">
            <div class="caption text-center">
              <h3 style="font-weight: bold;padding: 3%;">The Original Image</h3>
          </div>
              <img src="{{ image_url }}?{{ timestamp }}" alt="Original Image" width="360" height="275">
     
          </div>
      </div>

      <div class="col-lg-4">
          <div class="p-3 bg-white shadow rounded-lg" style="width: 100%;">
            <div class="caption text-center">
              <h3 style="font-weight: bold;padding: 3%;">Predict</h3>
          </div>
              <img src="{{ mask_path }}?{{ timestamp }}" alt="Grad-CAM Overlay" width="360" height="275">
     
          </div>
      </div>

      <div class="col-lg-4">
          <div class="p-3 bg-white shadow rounded-lg" style="width: 100%;">
            <div class="caption text-center">
              <h3 style="font-weight: bold;padding: 3%;">Grad-CAM Image</h3>
          </div>
              <img src="{{ overlay_path }}?{{ timestamp }}" alt="Grad-CAM Overlay" width="360" height="275">
      
          </div>
      </div>
  </div>
</div>

  


    <br>
    <div class=" row ">
      <div class="col mx-auto">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 90%; text-align: justify;">

          <h5 style="margin-top: -1.2%;"><b>
              {% if pred==2 or pred==5 or pred==6 or pred==10 or pred==12 or pred==15 or pred==17 or pred==21 or
              pred==24 %}
              🍀 Tips to Grow Healthy Plants :
              {% else %}
              🍀 Brief Descritpion :
              {% endif %}
            </b></h5>
          <p class="typing-animation" style="margin-top: 1%; font-size: 17px;text-indent: 2%;">➦ {{desc}}
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col mx-auto">
        <div class="p-5 bg-white shadow rounded-lg" style="height:97%; text-align: justify; font-size: 17px;">
          <h5 style="text-align: center;"><b>
              {% if pred==2 or pred==5 or pred==6 or pred==10 or pred==12 or pred==15 or pred==17 or pred==21 or
              pred==24 %}
              📝 Benefits :
              {% else %}
              📝 Prevent This Plant Disease By follow below steps :
              {% endif %}
            </b></h5>
          <p class="typing-animation" style="margin-top: 6%;">
            ⚠️ {{ prevent | safe }}
          </p>
        </div>
      </div>

      <!-- {% if pred!=24 %} -->
      <div class="col mx-auto"">
        <div class=" p-5 bg-light shadow rounded-lg" style="height: 97%;">
        <center class="typing-animation">
          <h5><b>
              {% if pred==2 or pred==5 or pred==6 or pred==10 or pred==12 or pred==15 or pred==17 or pred==21 or
              pred==24 %}
              ✔️ Fertilizer :
              {% else %}
              ✔️ Supplements :
              {% endif %}
            </b></h5>
          <br>
          <p style="font-size: 17px; text-align: justify;"> 🍁 {{drug | safe}}</p>
          <br>
          <p style="font-size: 17px; font-weight: 500;">{{sname}}</p> <br>

          <img src={{simage}} width="500" height="450">


          <br><br>
          <a target="_blank" href={{buy_link}}><button type="button" class="btn btn-success"
              style="background-color: #138a61; margin-top: 3%; padding: 10px 10px;font-weight: bold;border: none; font-size: 19px;">️✔️
              Buy Product 🛒</button></a>
        </center>
      </div>
    </div>
    <!-- {% endif %} -->

  </div>
</div>
</div>
{% endblock body %}